{% extends '::base.html.twig' %}

{% block login %}

    <div id="mainframe-login">

        <div id="login">

            <div class="row">
                <div class="col-sm-8 login">
                    <img src="{{ asset('bundles/adsmain/images/logo-yerevan.png') }}"/>
                    <h2>{{ 'login.municipality'|trans({}, 'user') | raw }}</h2>
                </div>

                <div class="col-sm-4">
                    <p class="check-email">{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
                </div>
            </div>

        </div>

    </div>

{% endblock %}

{% block layout %} {% endblock %}